# Build
.next/
out/
dist/

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
tsconfig.tsbuildinfo
*.d.ts.map
app/viewer/viewer.module.css.d.ts

# Local / Raspberry Pi
local/pocketbase
local/pb_data/
local/logs/
local/.env
